body {
  height: 100%;
  width: 100%;
  margin: 0;
}

.header {
  margin: -6rem 0;
  position: fixed;
  background-color: rgb(21, 169, 169);
  width: 100%;
  height: 7rem;
}

.container-covid h1 {
  margin: 0 3rem;
  text-align: center;
}

.container-covid {
  margin: 4.9rem 3rem;
  width: 35rem;
  height: auto;
  background-color: white;
  border-radius: 5px;
  box-shadow: 5px 5px 3px rgba(224, 223, 223, 0.63);
}

.container-covid table th tbody td tr {
  border: none;
}

.container-pais {
  margin: -76.7rem 38.5rem 0;
  width: 17rem;
  height: 18rem;
  border-radius: 5px;
  background-color: white;
  box-shadow: 5px 5px 3px rgba(224, 223, 223, 0.63);
}

.container-pais h3 {
  margin: -3rem 3rem;
  text-align: center;
}

.container-pais span {
  margin: 4.8rem 1.3rem;
  display: flex;
  flex-direction: column-reverse;
}

.container-brasil {
  margin: 4rem 38.5rem;
  width: 17rem;
  height: 18rem;
  border-radius: 5px;
  background-color: white;
  box-shadow: 5px 5px 3px rgba(224, 223, 223, 0.63);
}

.container-brasil h3 {
  margin: -3rem 3rem;
  text-align: center;
}

.container-brasil span {
  margin: 4rem 1.3rem;
  display: flex;
  flex-direction: column-reverse;
}
