.container {
  margin: 5rem 12rem;
  overflow: auto;
  min-height: 20rem;
}

.select-estado {
  margin: 3rem;
}
.select-pais {
  margin: 1rem auto;
}

.formcontrol {
  margin: 1rem auto;
}

.consulta {
  margin: auto 3rem;
  height: 1.8rem;
  width: 7.3rem;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
  transition: all 0.5s ease;
  background-color: rgba(0, 200, 255, 0.694);
}

.consulta:hover {
  background-color: rgba(0, 119, 255, 0.645);
}
